*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #5459b3;
}

.screen {
    background-color: #001d32;
    display: flex;
    color: white;
    padding: 32px;
    margin: 16px;
}

.container {
    width: 500px;
    height: 500px;
    margin: auto;
    background-color: #1f2959;
}

.operation-container, .digit-container {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    justify-content: center;
    align-items: center;
    margin: 32px auto;
}

.operation-container {
    width: 350px
}

.digit-container {
    width: 200px;
}

button {
    padding: 16px;
    background-color: #66a9fe;
    border-radius: 10px;
    border: 0;
    width: 50px;
    text-decoration: none;
    font-weight: 700;
}

.operation:hover, .digit:hover, .unique:hover {
    background-color: #e2e2e2;
 
}
.operation:active, .digit:active, .unique:active {
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.5);
    z-index: 1;
} 

.unique {
    background-color: #d84837;
}



